// http://chir.ag/projects/name-that-color/
// https://davidwalsh.name/sass-color-variables-dont-suck

$color-white: #FFFFFF;
$color-black: #000000;

$color-deep-cerulean: #0092A8;
// $color-deep-cerulean: #00869B;
$color-breaker-bay: #589EA6;
$color-viridian-green: #67837B;

$color-gothic: #6F989E;

// Deep purples
$color-thunder: #413741;
// $color-eggplant: #4B2A4B;
$color-matterhorn: #4B3C4B;
// Green
$color-de-york: #6CC780;
$color-aqua-spring: #F4FCF7;
$color-snowy-mint: #CEF2D6;
// Light blues

$color-onahau: #C0F0FF;
$color-anakiwa: #A0EBFF;
$color-malibu: #6BE1FF;
// Grays
$color-tiara: #BED2D2;
$color-botticelli: #D0E6E6;
$color-lily-white: #EEFAFF;
// Reds
$color-brick-red: #B92855;
$color-just-right: #EEC8BA;
$color-wafer: #DBC5BD;

$color-primary: $color-deep-cerulean;
