<div *ngIf="groups.length === 0 && !showCreate" class="l-container list-empty-state">
  <div class="list-empty-state__copy">
    <h2 class="heading-medium">
      This is where you&nbsp;share.
    </h2>
    <p class="text--large">
      Press “Add New <span class="u-hidden--all-but-xl">Group</span>” to create your first group.
    </p>
  </div>
</div>

<div *ngIf="groups.length === 1 && !showCreate" class="l-container list-empty-state">
  <div class="list-empty-state__copy">
    <h2 class="heading-medium">
      Your first group is available to use.
    </h2>
    <p class="text--large">
      To use groups, go back to the Passwords screen, select a password to manage, and add your group to it. Then, anyone in your group will be able to see and edit that&nbsp;password.
    </p>
  </div>
</div>

<div class="secret-list">
  <div
    *ngIf="showCreate"
    class="secret-list-item"
    [class.secret-list-item--is-active]="showCreate">
    <group-add
      [contacts]="contacts"
      [groupForm]="groupForm"
      [groupIsUpdating]="groupIsUpdating"
      [groupIsUpdated]="groupIsUpdated"
      [isPrivateOrgMode]="isPrivateOrgMode"
      [groupContacts]="groupContacts"
      [searchedContacts]="searchedContacts"
      [contactLookup]="contactLookup"
      (hideAddSecretForm)="hideAddSecretForm.emit()"
      (resetSearch)="resetSearch.emit($event)"
      (contactSearch)="contactSearch.emit($event)"
      (updateFormValues)="updateFormValues.emit($event)"
      (saveNew)="saveNew.emit()"
    ></group-add>
  </div>
  <div
    *ngFor="let group of groups"
    class="secret-list-item"
    [class.secret-list-item--is-active]="group.id === groupManaged">
    <group-detail
      [active]="group.id === groupManaged"
      [group]="group"
      (groupSelected)="onGroupWasSelected($event)"
    ></group-detail>
    <group-form
      *ngIf="group.id === groupManaged"
      [group]="group"
      [contacts]="contacts"
      [groupForm]="groupForm"
      [groupManaged]="groupManaged"
      [groupIsUpdating]="groupIsUpdating"
      [groupIsUpdated]="groupIsUpdated"
      [isPrivateOrgMode]="isPrivateOrgMode"
      [groupContacts]="groupContacts"
      [searchedContacts]="searchedContacts"
      [contactLookup]="contactLookup"
      [isNew]="false"
      (contactSearch)="contactSearch.emit($event)"
      (save)="save.emit()"
      (updateFormValues)="updateFormValues.emit($event)"
      (resetSearch)="resetSearch.emit($event)"
      (delete)="delete.emit($event)"
      class="secret-form secret-form--is-active">
    </group-form>
  </div>
</div>
<div
  *ngIf="groups.length === 0"
  class="list-placeholders"
  [class.list-placeholders--empty]="groups.length === 0">
  <div class="list-placeholder" *ngFor="let number of ' '.repeat(20).split(''), let x = index">
    <div class="list-placeholder__heading">
      <h3 class="list-placeholder__title">
        <div class="list-placeholder__text list-placeholder__text--title"></div>
      </h3>
      <button
        type="button"
        disabled="disabled"
        class="button button--placeholder list-placeholder__button">
        <div class="list-placeholder__text list-placeholder__text--button"></div>
      </button>
    </div>
  </div>
</div>
