@import 'node_modules/normalize-scss/sass/normalize';
@include normalize();

// apply a natural box layout model to all elements, but allowing components to change
// https://www.paulirish.com/2012/box-sizing-border-box-ftw/

html {
  box-sizing: border-box !important;
  font-family: 'Overpass', Arial, Helvetica, sans-serif !important;
}
*, *:before, *:after {
  box-sizing: inherit !important;
  font-family: inherit !important;
}

@import '../assets/scss/layouts';
@import '../assets/scss/utility';

@import '../assets/scss/colors';
@import '../assets/scss/buttons';
@import '../assets/scss/fonts';
@import '../assets/scss/text';
@import '../assets/scss/inputs';
@import '../assets/scss/links';
@import '../assets/scss/headings';
@import '../assets/scss/icons';
@import '../assets/scss/tooltips';

button,
input,
optgroup,
select,
textarea {
  font-family: 'Overpass', Arial, Helvetica, sans-serif !important;
}

